@model IEnumerable<Rubel_Rana_1249804.Student>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered ">
    <tr style="background-color:cadetblue; color:brown">
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semister.SemisterName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semister.SemisterName)
            </td>
            <td>
                <span> @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }, new { @class = "btn btn-success" }) </span> |
                <span> @Html.ActionLink("Details", "Details", new { id = item.StudentId }, new { @class = "btn btn-info" })</span> |
                <span>@Html.ActionLink("Delete", "Delete", new { id = item.StudentId }, new { @class = "btn btn-danger" })</span>

            </td>
        </tr>
    }

</table>
<div class="text-right">
    @Html.PagedListPager(Model as IPagedList, page => Url.Action("Index", new { page }))
</div>
@section styles{

    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
